  $primary-color: "#000";
  $secondary-color: "#0ab463";
  $secondaryDarker-color: "#089954";
  $inactive-color: "#c4c4c4";
  $highlight-color: "#0094ff";
  $background-color: "#fff";
  $appBackground-color: "#ededed";

  $font-stack: 'Montserrat', sans-serif;